In [25]:
import pandas as pd
import matplotlib.pyplot as plt
from scipy import integrate

In [4]:
sol = pd.read_csv("../data/001_raw/temixco.csv", index_col=0, usecols=[0, 2], parse_dates=True)
sol

                      Ig
time
2018-01-01 00:00:00  NaN
2018-01-01 00:10:00  0.0
2018-01-01 00:20:00  0.0
2018-01-01 00:30:00  0.0
2018-01-01 00:40:00  0.0
...                  ...
2018-12-31 23:10:00  0.0
2018-12-31 23:20:00  0.0
2018-12-31 23:30:00  0.0
2018-12-31 23:40:00  0.0
2018-12-31 23:50:00  0.0

[52560 rows x 1 columns]

In [5]:
sol.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 52560 entries, 2018-01-01 00:00:00 to 2018-12-31 23:50:00
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Ig      52423 non-null  float64
dtypes: float64(1)
memory usage: 821.2 KB

In [6]:
sol.index

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 00:10:00',
               '2018-01-01 00:20:00', '2018-01-01 00:30:00',
               '2018-01-01 00:40:00', '2018-01-01 00:50:00',
               '2018-01-01 01:00:00', '2018-01-01 01:10:00',
               '2018-01-01 01:20:00', '2018-01-01 01:30:00',
               ...
               '2018-12-31 22:20:00', '2018-12-31 22:30:00',
               '2018-12-31 22:40:00', '2018-12-31 22:50:00',
               '2018-12-31 23:00:00', '2018-12-31 23:10:00',
               '2018-12-31 23:20:00', '2018-12-31 23:30:00',
               '2018-12-31 23:40:00', '2018-12-31 23:50:00'],
              dtype='datetime64[ns]', name='time', length=52560, freq=None)

In [7]:
sol.dtypes

Ig    float64
dtype: object

$$E=\sum I_g \triangle t$$

- anual
- mensual
- diario

In [9]:
energia = sol.resample("Y").sum()*(1/6)

In [10]:
energia

                      Ig
time
2018-12-31  2.249072e+06

In [11]:
energia.to_csv("../data/002_processed/anual01.csv")

In [14]:
(sol.resample("M").sum()*(1/6)).to_csv("../data/002_processed/mensual01.csv")

In [15]:
sol.resample("D").sum()*(1/6)

                     Ig
time
2018-01-01  4692.693333
2018-01-02  4976.943667
2018-01-03  4839.385667
2018-01-04  4899.825833
2018-01-05  4846.022000
...                 ...
2018-12-27  4706.769167
2018-12-28  4510.652333
2018-12-29  5311.973167
2018-12-30  4864.677833
2018-12-31  4852.316167

[365 rows x 1 columns]

In [17]:
def calcular_energia(df, frecuencia, nombre):
    """Guarda los valores en un csv con el nombre especificado en la ruta indicada 
    Input:  df, 
            frecuencia = periodo, string
            nombre = nombre del archivo en csv, string
    Output: archivo csv, 
            df con los valores de energía en cada periodo
    """
    energia = df.resample(frecuencia).sum()*(1/6)
    energia.to_csv(f"../data/002_processed/{nombre}.csv")
    return energia

In [18]:
calcular_energia(sol, "Y", "anual_02")

                      Ig
time
2018-12-31  2.249072e+06

In [19]:
calcular_energia(sol, "D", "diario01")

                     Ig
time
2018-01-01  4692.693333
2018-01-02  4976.943667
2018-01-03  4839.385667
2018-01-04  4899.825833
2018-01-05  4846.022000
...                 ...
2018-12-27  4706.769167
2018-12-28  4510.652333
2018-12-29  5311.973167
2018-12-30  4864.677833
2018-12-31  4852.316167

[365 rows x 1 columns]

In [24]:
def calcular_energia(df, frecuencia, nombre): 
    """Guarda los valores en un csv con el nombre especificado en la ruta indicada 
    Input:  df, 
            frecuencia = periodo, string
            nombre = nombre del archivo en csv, string
    Output: archivo csv, 
            df con los valores de energía en cada periodo
    """
    energia = df.resample(frecuencia).sum()*(1/6)
    energia.to_csv(f"../data/002_processed/{nombre}.csv")
    return energia

In [26]:
integrate.trapezoid(y=sol.Ig)*(1/6)

nan

In [28]:
sol.isna().sum()

Ig    137
dtype: int64

In [31]:
# sol = sol.dropna()
sol.dropna(inplace=True)

In [32]:
sol

                      Ig
time
2018-01-01 00:10:00  0.0
2018-01-01 00:20:00  0.0
2018-01-01 00:30:00  0.0
2018-01-01 00:40:00  0.0
2018-01-01 00:50:00  0.0
...                  ...
2018-12-31 23:10:00  0.0
2018-12-31 23:20:00  0.0
2018-12-31 23:30:00  0.0
2018-12-31 23:40:00  0.0
2018-12-31 23:50:00  0.0

[52423 rows x 1 columns]

In [38]:
%%time
integrate.trapezoid(y=sol.Ig)*(1/6)

Wall time: 0 ns

2249072.0231666663

In [39]:
%%time
sol.resample('Y').sum()*(1/6)

Wall time: 5 ms

                      Ig
time
2018-12-31  2.249072e+06