In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from dateutil.parser import parse
import numpy as np

In [4]:
# 1 Obtiene lista de nombres del archivo
nombres = np.genfromtxt("../data/001_raw/nombres_DATA.txt",dtype='U',delimiter=',')
nombres

# 2 lee archivo DATA que contiene datos experimentales
data = pd.read_csv('../data/001_raw/DATA.csv',names=nombres,index_col=0,parse_dates=True)
data = data.resample("600S").interpolate(method='time')
data.sort_index(inplace=True)
data

,SFlujo,TemPrtdIn,TemPrtdOut,TCPan1,TCPan2,TCPan3,TCPan4,TCPan5,TCCubo01,TCCubo02,...,Ti,A1,A2,A3,A4,Flujo2,TemPrtdIn2,TemPrtdOut2,InterIn,InterOut
tiempo,,,,,,,,,,,,,,,,,,,,,
2019-06-07 15:50:00,-0.0536,28.060358,29.494571,27.881049,28.114665,27.945099,28.133856,27.565085,26.532235,28.644776,...,32.473308,27.826417,28.032113,27.595864,27.696508,0.304800,31.428851,30.001307,30.077069,30.296449
2019-06-07 16:00:00,-0.0536,28.097783,29.421717,27.829682,27.821205,27.791426,28.065366,27.427427,26.614850,28.186786,...,32.146811,27.612842,27.779763,27.490822,27.603395,10.366134,31.329461,30.038661,30.093767,30.240709
2019-06-07 16:10:00,-0.0536,28.132480,29.417295,27.963639,27.933765,27.809505,28.155007,27.428432,26.719630,28.233682,...,32.077588,27.667990,27.783801,27.549845,27.658049,10.278040,31.144930,30.025432,30.042684,30.167159
2019-06-07 16:20:00,-0.0536,28.149165,29.478574,28.000906,28.033260,27.792430,28.170115,27.360106,26.808290,28.250645,...,32.041824,27.655958,27.820139,27.588861,27.726871,10.313965,30.948131,29.954797,29.970168,30.107915
2019-06-07 16:30:00,-0.0536,28.142018,29.487418,28.011985,28.052355,27.790422,28.280907,27.413360,26.895943,28.429251,...,31.944913,27.645931,27.809036,27.602866,27.750150,10.216701,30.742670,29.860064,29.889147,30.048064
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-07-29 09:40:00,-0.0536,24.296304,28.348648,24.431389,24.589125,24.037983,24.592541,23.243440,25.540855,24.641602,...,23.354463,23.811606,24.052049,24.265532,24.484103,10.207452,24.450277,22.684230,23.522237,23.471421
2019-07-29 09:50:00,-0.0536,24.322502,28.387117,24.423331,24.625305,24.089208,24.623764,23.350954,25.541863,24.826195,...,23.697112,23.883801,24.087378,24.279538,24.525599,10.212436,25.139125,23.063162,23.822860,23.744331
2019-07-29 10:00:00,-0.0536,24.346647,28.411618,24.507936,24.741885,24.166546,24.672110,23.394160,25.542870,24.924978,...,23.645195,23.992092,24.212543,24.379578,24.621749,10.208386,25.550707,23.388060,23.977750,23.974566
2019-07-29 10:10:00,-0.0536,24.357536,28.429331,24.565346,24.805200,24.234846,24.739592,23.422294,25.529772,25.273210,...,23.762873,24.091360,24.312474,24.466612,24.706765,10.204920,26.013825,23.698743,24.083975,24.228376
2019-07-29 10:20:00,-0.0536,24.426930,28.474276,24.702326,25.012230,24.387514,24.928946,23.635312,25.499547,25.449820,...,23.982076,24.272848,24.488110,24.598665,24.818096,10.205486,26.604578,24.050827,24.253508,24.521674

In [22]:
ruoa = pd.read_csv('../data/001_raw/RUOA_utf.txt',skiprows=4,delimiter="\t",usecols=[0,1,2,3,4,9],names=['tiempo','To','hr','ws','wd','Ig'],index_col=0,parse_dates=True)
ruoa
ruoa.sort_index(inplace=True)
ruoa = ruoa.add_suffix("_ruoa")
ruoa = ruoa.resample("600S").interpolate(method='time')

DatetimeIndex(['2019-01-01 00:01:00', '2019-01-01 00:02:00',
               '2019-01-01 00:03:00', '2019-01-01 00:04:00',
               '2019-01-01 00:05:00', '2019-01-01 00:06:00',
               '2019-01-01 00:07:00', '2019-01-01 00:08:00',
               '2019-01-01 00:09:00', '2019-01-01 00:10:00',
               ...
               '2019-06-26 17:07:00', '2019-06-26 17:08:00',
               '2019-06-26 17:09:00', '2019-06-26 17:10:00',
               '2019-06-26 17:11:00', '2019-06-26 17:12:00',
               '2019-06-26 17:13:00', '2019-06-26 17:14:00',
               '2019-06-26 17:15:00', '2019-06-26 17:16:00'],
              dtype='datetime64[ns]', name='tiempo', length=215272, freq=None)

In [5]:

esolmet = pd.read_excel('../data/001_raw/ESOLMET_2019.xlsx',skiprows=5,usecols=[0,1,2,3,5],
                       names=['tiempo','Ib','Ig','Id','To'],index_col=0,parse_dates=True)
esolmet.sort_index(inplace=True)
esolmet = esolmet.add_suffix("_esolmet")


datos = pd.concat([ruoa,esolmet,data],axis=1)

NameError: name 'ruoa' is not defined

In [ ]:
datos.to_csv("../data/

In [ ]:
def importa(archivo,nombres):
    tmp = pd.read_csv(archivo,skiprows=1,names=nombres)
    tmp.tiempo = tmp.tiempo.str.replace("24:00:00","23:59:59")
    tmp.tiempo = "2019-" + tmp.tiempo
    tmp.tiempo = pd.to_datetime(tmp.tiempo,format="%Y- %m/%d %H:%M:%S")
    tmp.set_index('tiempo',inplace=True)
    return tmp

# Zyanya y Alejandro

In [ ]:
archivo  = "../data/raw/za.csv"
nombres = np.genfromtxt(archivo,delimiter=",",max_rows=1,dtype='U')
for i,nombre in enumerate(nombres):
    print(i,nombre)

nombres[0] = 'tiempo'
nombres[1] = 'To'
nombres[2] = 'hr'
nombres[3] = 'ws'
nombres[4] = 'wd'
nombres[5] = 'Id'
nombres[6] = 'Ib'
nombres[7] = 'alpha'
nombres[8] = 'Ti'
za = importa(archivo,nombres)

In [ ]:
za.index

In [ ]:
za.to_csv("../data/processed/C_za.csv")

# Astrid y E Spezzia

In [ ]:
archivo = "../data/raw/ae.csv"
nombres = np.genfromtxt(archivo,delimiter=",",max_rows=1,dtype='U')
for i,nombre in enumerate(nombres):
    print(i,nombre)

nombres[0] = 'tiempo'
nombres[1] = 'To'
nombres[2] = 'hr'
nombres[4] = 'ws'
nombres[5] = 'wd'
nombres[6] = 'Id'
nombres[7] = 'Ib'
nombres[8] = 'alpha'
nombres[13] = 'Ti'

ae = importa(archivo,nombres)
# ae.columns

In [ ]:
ae = ae.resample("600S").interpolate(method="time")
ae.index

In [ ]:
ae.to_csv("../data/processed/C_ae.csv")

# Benita y Medel

In [ ]:
archivo = "../data/raw/bm.csv"
nombres = np.genfromtxt(archivo,delimiter=",",max_rows=1,dtype='U')
for i,nombre in enumerate(nombres):
    print(i,nombre)

nombres[0] = 'tiempo'
nombres[1] = 'To'
nombres[2] = 'hr'
nombres[4] = 'ws'
nombres[5] = 'wd'
nombres[6] = 'Id'
nombres[7] = 'Ib'
nombres[8] = 'alpha'
nombres[9] = 'Ti'

bm = importa(archivo,nombres)
# bm.columns

In [ ]:
bm = bm.resample("600S").interpolate(method='time')
bm.index

In [ ]:
bm.to_csv("../data/processed/C_bm.csv")

# Carmona y Augusto

In [ ]:
archivo  = "../data/raw/ca.csv"
nombres = np.genfromtxt(archivo,delimiter=",",max_rows=1,dtype='U')
# for i,nombre in enumerate(nombres):
#     print(i,nombre)

nombres[0] = 'tiempo'
nombres[1] = 'To'
nombres[2] = 'hr'
nombres[3] = 'ws'
nombres[4] = 'wd'
nombres[5] = 'Id'
nombres[6] = 'Ib'
nombres[7] = 'alpha'
nombres[8] = 'Ti'

ca = importa(archivo,nombres)
# ca.columns

In [ ]:
ca = ca.resample("600S").interpolate(method='time')
ca.index

In [ ]:
ca.to_csv("../data/processed/C_ca.csv")

# Gr'aficas

In [ ]:
fig, ax  = plt.subplots(figsize=(15,6),sharex=True)
fecha1 = parse("2019-06-08")
fecha2 = fecha1 + pd.Timedelta("2D")

ax.set_xlim(fecha1,fecha2)
ax.set_ylim(15,35)

ax.plot(datos.To_esolmet,'r-',lw=3,label='To')
ax.plot(datos.Ti,        'k-',lw=3,label='Ti')


ax.plot(za.Ti,'ko:',label="Sim C1",markevery=10)
ax.plot(ae.Ti,'bo:',label="Sim C2",markevery=10)
ax.plot(bm.Ti,'ko:',label="Sim C3",markevery=10)
ax.plot(ca.Ti,'yo:',label="Sim C4",markevery=10)

ax.legend()